{% extends 'base.html' %}
{% load static %}

{% block title%}Сайт Арины Крикуновой{%endblock%}


{% block content  %}
    <div class="path_category">
        <p class="path"><a href="{%url 'home_page' %}">Главная</a>  /  <a href="{{article.get_category_url}}">{{article.category}}</a>  /  {{article.title}}</p>
    </div>
    <div class="row">
        <div class="col-md-8 col-lg-12">
            <div class="article_list">
                <div class="article_stat">

                    <div class="block_date">
                        <div class="date_item">{{article.pubdate|date:"j M Y"}}</div>
                    </div>

                </div>
                <div class="article_cat">
                    <a href="{{article.get_category_url}}">#{{article.category}}</a>
                </div>
                <p class="article_summary">{{article.full_text | safe}}</p>
            </div>
            <div class="top">
                <a class="btn btn-top" href="#top">Подняться на вверх</a>
            </div> 
        </div>
    </div>

{% endblock  %}

