{% load static %}

<html lang="ru">
<head>

    <title>{% block title %}Сайт Арины Крикуновой{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'blog/style.css' %}">

</head>

<body>
    <div class="container-lg">
        <div class="row page-header">
            <div class="col">
                    <div class="avatar-top">
                        {% block page_header %}
                        <a href="{% url 'home_page' %}">
                            <img src="{% static 'img/avatar.jpg' %}" />
                            <div class="blog_content">
                                <span class="author-name">Арина Крикунова</span>
                                <span class="blog-type">IT-Журнал</span>
                            </div>
                        </a>
                        {% endblock %}
                    </div>
                </div>
            </div>
        {% block content %}
        {% endblock %}
    </div>
<footer class="footer">
    <div class="container-lg">
        <div class="footer-top">
            <div class="footer-author ">
                <span class="author-name">© Арина Крикунова {% now "Y" %}</span>  
            </div>
            <a class="footer-icon-github" href="https://github.com/Arina345/mysite_2.git"><img src="{% static 'img/github.png'%}" alt="github"></a> 
                
        </div>
    </div>     
</footer>
</body>
</html>



