{% load static %}

<html>
    <head>
        <title>{% block title %}Сайт Арины Крикуновой{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'blog/style.css' %}">
    </head>

    <body>
        <div class="container">
            <div class="row page-header">
                <div class="col">
                    <h1 class="avatar-top">
                        <img src="{% static 'img/avatar.jpg' %}" alt="avatar">
                        <span class="author_name">Арина Крикунова</span>
                    </h1>
                </div>
            </div>
            {% block content  %}
            {% endblock  %}
        </div>

        <footer class="footer">
            <div class="container-lg">
                <span class="text_muted">© Арина Крикунова</span>
                {{ author_name }} {% now "Y" %}
            </div>
        </footer>
          


    </body>
</html>

