
{% extends 'base.html' %}

{% block title%}Сайт Арины Крикуновой{%endblock%}


{% block content  %}

    <div class="container">
        <div class="blog">
            <div class="row">
                <div class="col">
                    <div class="avatar_name">Арина Крикунова</div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-sm-12">
                    <div class="article_list">
                        {% for article in articles %}
                        <div class="article">
                            <h2 class="article_title">
                                <a href="{{ article.get_absolute_url }}">{{article.title}}</a>
                            </h2>
                            <p class="article_summary">{{article.summary}}</p>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>



    
{% endblock  %}



