<!-- Здесь прописываются то, как будет выглядеть каждая отдельная статья -->
{% extends 'base.html' %}
{% load static %}


{% block content  %}
   <div class="article-choice">
      <div class="article-item">
         <!-- Автор -->
         <div class="author-article">
            <a href="{% url 'dashboard_username' username=article.author %}">
                  <div>
                     {% if article.author.profile and article.author.profile.photo %}
                        <img src="{{article.author.profile.photo.url }} " alt="user-foto" class="author-img">
                        {% else %}
                        <img src="{% static 'img/user-photo.png' %} " alt="user-foto" class="author-img">
                     {% endif %}
                  </div>
                  <div>
                     <p class="author-name">{{article.author}}</p>
                     <p class="data">{{article.publish|date:"d.m.Y"}}</p>
                  </div>
            </a>
         </div>
         <!-- О статье -->
         <div class="article-about">
            <h1>{{article.title| safe}}</h1>
            <p>{{article.summary| safe}}</p>
        </div>
         {% if article.image %}
         <img src="{{article.image.url}}" alt="foto">
         {% endif %}
         <!-- Полный текст -->
         <div class="article-fultext">{{article.full_text|safe}}</div>
   </div>
{% endblock  %} 

