<!-- Здесь прописываются то, как будут выглядеть все статьи -->
{% extends 'base.html' %}


{% block content %}
<main>
    <div class="container">
        <div class="article-items">
            {% for article in articles %}
            <a href="{{ article.get_absolute_url }}">
                <div class="article-item">
                    <div class="author-article">
                        <p class="author-name">{{article.author}}</p>
                        <p class="data">{{article.publish|date:"j M Y"}}</p>
                    </div>
                    <div class="article-about">
                        <h1>{{article.title| safe}}</h1>
                         <p>{{article.summary| safe}}</p>
                    </div>
                    {% if article.image %}
                    <img src="{{article.image.url}}" alt="foto">
                    {% endif %}
                </div>
            </a>
            {% endfor%}
        </div>
    </div>
</main>
{% endblock %}


