html {
  position: relative;
  min-height: 100%;
  font-size: 18px;
}


body {
  min-width: 1400px;
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 60px; /* Margin bottom by footer height */
  line-height: 1.4rem;
  background-color: #F4F5F6;
}

.container-lg{
  position: relative;
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}


.page-header {
  height: 5rem;
  margin-left: -20px;
}

.page-header::after {
  display: table;
  clear: both;
  content: "";
}




h2 {
  margin-top: 2em;
  margin-bottom: 1em;
  font-size: 1.3em;
}

h3 {
  margin-top: 1.5em;
  margin-bottom: 1em;
  font-size: 1.05em;
}

h4, h5, h6 {
  font-size: 1em;
}

.avatar-top {
  margin-top: 2em;
  font-size: 0.8em;
  font-family: Arial, Helvetica, sans-serif;
}

.avatar-top a {
  text-decoration: none;
  color: #333
}

.avatar-top a:hover {
  text-decoration: none;
  color: #9AFF5D;
}




.avatar-top img {
  width: 32px;
  margin-right: .2em;
  clip-path: circle(25px at center);
  margin-top: -3px;
  vertical-align: middle;
}

.author-name{
  font-weight: bold;

}


.blog_content{
  display: inline-block;
  vertical-align: middle;
  width: 126px;
  line-height: 18px;
  
}




.path_category{
  width: 100%;
  float: left;
  height: 25px;
  padding: 16px 0 40px 0;
  margin-bottom: 15px;
}

.path_category::after {
  display: table;
  clear: both;
  content: "";
}



p.path{
  color: #999;
  font-size: 14px;
  font-weight: 100;
}

p.path a{
  text-decoration: none;
  color:#999 ;
}

p.path a:hover{
  color:#999;
}







/* Аналитика */


.analytics, .cod , .design{
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
  background-color: #fff;
  padding: 52px;
  width: 100%;
  height: 245px;
  border-radius: 22px;
}

.analytics img , .cod img , .design img{
  position: absolute;
  width: 20%;
  height: auto;
  right: 55px;
}



.analytics_text, .cod_text, .design_text{
  width: 625px;
}




h1.category_analytics{
  color: #F95656;
  line-height: 126%;
  font-weight: 700;
  font-size: 64px;
}


p.category_analytics, .category_cod{
  margin: 0;
  font-size: 18px;
  font-weight: 300;
  color: #333;
}







/* Программирование */




h1.category_cod{
  line-height: 126%;
  color: #565EEF;
  font-weight: 700;
  font-size: 64px;
}



/* Дизайн */



h1.category_design{
  color: #9AFF5D;
  line-height: 126%;
  font-weight: 700;
  font-size: 64px;
}










/* РАСПОЛОЖЕНИЕ СТАТЕЙ */


.container{
  width: 1240px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}




/* то во что упакован заголовок с подзаголовком */
.article {
  position: relative;
  padding: 16px;
  margin: 26px 0 45px 0;
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0 2px 8px 0 rgb(233, 233, 233,0.7);
  width: 325px;
  height: 436px;
  
}


.article.item{
  display: flex;
  flex-direction: column;
  gap: 16px;
}




.image{
  overflow: hidden;
  border-radius: 24px;
  position: relative;
}


.image img {
  width:100%;
  object-fit: cover;
  object-position: center;
}


.content{
  align-self: center;
  display: flex;
  flex-direction: column; 
  justify-content: space-between;
  height: 100%;
}


.block_date{
  display: flex;
  flex-direction: column; 
  align-items: start;
  margin-bottom: 12px;
  gap: 10px;
}

.block_date .date_item{
  color: #999;
  line-height: 130%;
  font-size: 14px;
}



p.article_title{
  font-size: 18px;
  line-height: 120%;
  font-weight: 700;
}
p.article_title a{
  text-decoration: none;
  color: #333;
}

p.article_title a:hover{
  color: #565EEF;
}



/* о чем статья*/
.article_text{
  margin: 12px 0 24px 0;
}

.article_text p{
  padding: 0;
  font-size: 16px;
  line-height: 140%;
  color: #444;
}



.bottom_article{
  display: flex;
  align-items: center;
  gap: 12px;
}


.category{
  display: flex;
  gap: 10px;


}

.category .article_category {
  position: relative;
  font-size: 14px;
  line-height: 130%;
  color: #565EEF;
  text-decoration: none;
}




.article_cat a{
  text-decoration: none;
  color: #565EEF;
  font-size: 14px;
}





















/* Подвал */

.footer {
  position: absolute;
  width: 100%;
  padding-bottom: 0;
  line-height: 60px; 
  background-color: #E2E4FF;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 12px;
  font-weight: 600;
  color: #393B3C;
}


.footer-author{
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}

.footer-icon-github{
  vertical-align: middle;
  float: right;
  margin-top: 18px;
}


/* Оформление статей */

p {
  color: #333;
  font-size: 18px;
  line-height: 140%;
  margin: 0 0 25px 0;
  padding-top: 5px;
}

mark{
  background-color: #FFF1C1;
}


 h2, h3 {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 120%;
  font-size: 32px;
  color: #262626;
  margin:32px 0 32px 0;
  font-weight: 800;
  padding: 0;
}

h1{
  font-size: 18px;
  font-weight: bold;
  color: #565EEF;
}


ul{
  margin: 15px 0 48px 19px;
  padding: 0;
}

ul li{
  line-height: 140%;
  line-height: 25px;
  font-size: 18px;
  margin: 0 0 10px 0;
}

.image_article{
  margin: 32px 0 22px 0;
  text-align: center;
  padding: 0;
}

.top{
  display: flex;
  justify-content: center;
  margin-bottom: 36px;
}




.btn {
  text-decoration: none;
  text-align: center;
  color: #333;
  cursor: pointer;
  background-color: #DADADA;
  color: #333;
}

.btn-top:hover{
  background-color: #F4F5F6;
}