{% extends "base.html" %}
{% load static %}
{% block title %}Редактирование профиля{% endblock %}

{% block content %}
<div class="user-form">
    <div class="profile-edit">
        <h2>Настройки</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <table>
                {{ user_form.as_table }}
                {{ profile_form.as_table }}
            </table>
        <p><input type="submit" value="Сохранить"></p>
        </form>
    </div>
</div>
{% endblock %}