{% extends "base.html" %}

{% block title %}Вход{% endblock %}

{% block content %}

<div class="user-form">
  <div class="login-form">
    <h2>Вход</h2>
    <form action="{% url 'login' %}" method="post">
      {% csrf_token %}
      <table>
          {{ form.as_table  }}
      </table>
      <input type="hidden" name="next" value="{{ next }}" />
      <input type="submit" value="Войти">
    </form>
    <div class="user-registr">
      {% if form.errors %}
        <p>Вы ввели неверный username или password.Попробуйте снова.</p>
      {% else %}
        <p>Нет аккаунта? <a href="{% url 'register' %}">Зарегестрироваться</a></p>
      {% endif %}
    </div>
  </div>
</div>

  
{% endblock %}