{% extends "base.html" %}


{% block title %}
  {% if object %}
    Редактирование статьи "{{ object.title }}"
  {% else %}
    Создание статьи
  {% endif %}
{% endblock %}

{% block content %}
  <div class="user-form">
    <div class="article-create">
      {% if object %}
      <h2>Редактирование статьи</h2>
      {% else %}
      <h2>Создание статьи</h2>
      {% endif %}
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form }}
            <button type="submit" class="btn btn-save-article" value="Сохранить">Сохранить</button>
      </form>
    </div>
  </div>
{% endblock %}