{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  <meta name="viewport" content="width=max-device-width, initial-scale=0.86">
  <link href="{% static 'css/base.css' %}" rel="stylesheet">
</head>
<body>
<!-- Header -->
<header>
  <div class="container">
    <div class="header-content">
      <div class="logo">
        <a href="{% url 'blog:article_list' %}">
          <img src="{% static 'img/logo.png' %}" alt="logo">
          <h1>Познания</h1>
        </a>
      </div>
      <div class="menu-content">
        {% if request.user.is_authenticated %}
        {% with profile=request.user.profile %}
        <a href="{% url 'blog:article_create' %}" class="article_create">Написать</a>
          <a href="{% url 'dashboard' %}" class="profile">
            {% if profile.photo %}
            <img src="{{profile.photo.url }} " alt="user-foto" class="author-img">
            {% else %}
            <img src="{% static 'img/user-photo.png' %} " alt="user-foto" class="author-img">
            {% endif %}
          </a>
          {% endwith %}
          {% else %}
          <a href="{% url 'login' %}" class="entrance">Войти</a>
        {% endif %}
      </div>


      <div class="burger-menu">
          <span></span>
      </div>
      
    </div>
  </div>
</header>
{% if messages %}
  <ul class="messages">
  {% for message in messages %}
    <li class="{{ message.tags }}">
    {{ message|safe }}
    </li>
  {% endfor %}
  </ul>
  {% endif %}
<main>
  <div class="container">
    {% block content %}
    {% endblock %}
  </div>
</main>


<script>
  document.querySelector('.burger-menu').addEventListener('click', function(){
      this.classList.toggle('active');
      document.querySelector('.menu-content').classList.toggle('open');})
</script>
</body>
</html>